---
title: Espen Henriksen | Webutvikler
component: ContentPage
---
div.row
  div.col-sm-4
    h2 Velkommen!
    p(style='white-space:pre;')
      | Jeg er en knakanes kjekk kar fra Hønefoss som for øyeblikket lever av å lage kule ting på nettet.
      | Denne nettsiden er laget for å gi deg et raskt overblikk over hvem jeg er!
    p(style='white-space:pre;')
      | Jeg kan begynne med å nevne at i skrivende stund er denne nettsiden skrevet med alle buzzwords
      | du kan tenke deg. React.js, flux, routing, isomorphism, modularitet, ES6+7, you name it, we got it.
      | Jeg elsker å tenke ny teknologi, så du kan anse denne nettsiden som min lekeplass. Derfor kan det
      | hende det finnes ting som ikke er helt OK i alle nettlesere, men det er din feil som bruker en
      | underlegen nettleser! Du finner forøvrig nettsiden min på <a href="https://github.com/esphen/esphen.com">denne</a>
      | URLen, samt noen andre av mine open source-prosjekter.
    p(style='white-space:pre;')
      | Nå håper jeg jeg ikke har gitt feil inntrykk; jeg er ikke en skitten front-end hipster, jeg er en vaskeekte
      | full-stack utvikler! La meg liste opp ting jeg føler meg godt komfortabel med:
    h3 Hva jeg kan!
    dl
      dt <a href="https://facebook.github.io/react/">React</a>
      dd Et modulært javascript-bibliotek for javascript utviklet av Facebook.
      dt <a href="http://angularjs.org/">AngularJS 1.X</a>
      dd Et bibliotek for single-page applikasjoner fra Google.
      dt <a href="http://getbootstrap.com/">Bootstrap</a>
      dd Et CSS rammeverk for utvikling av responsive, mobile first nettsider
      dt <a href="https://www.java.com/en/about/">Java</a>
      dd En av de aller største programmeringsspråkene i bruk på servere i dag.
  div.col-sm-4
    h3 Verktøy
    dl
      dt <a href="http://www.viemu.com/a-why-vi-vim.html">VIM</a>
      dd Mitt favorittverktøy for editering av tekst.
      dt <a href="http://www.whylinuxisbetter.net/">Linux</a>
      dd Mitt operativstytem of choice er Linux - nærmere spesifisert Red Hat-økosystemet. Jeg har flere CentOS-servere, og min arbeidsstasjon kjører Fedora Linux.
      dt <a href="https://www.jetbrains.com/idea/">IntelliJ IDEA</a>
      dd Når jeg må grave litt mer enn vanlig (les: java-kode), så tar jeg frem dette monsteret.
