<div id="front" scroll-position="fromTop">
	<a href="#content" du-smooth-scroll offset="30">
		<md-card id="jumbo"
			data-ng-class="{'slide-in':fromTop>=0 &amp;&amp; delayDone}"
			class="bounce jumbotron text-center">
			<div flex layout="row" layout-align="center">
				<img width="200" src="images/headshot.png" alt="This is a pretty image of me!">
			</div>
			<h2> ESPEN HENRIKSEN </h2>
			<h3> Webutvikler | Front- &amp; Backend | AngularJS | SASS &amp; LESS | Java </h3>
			<i class="fa fa-angle-down"></i>
		</md-card>
	</a>

	<div id="content">
		<article id="introduction">
			<h1>Velkommen!</h1>
			<div layout="row" layout-align="space-between">
				<div flex="40" class="offscreen-left" data-ng-class="{'slide-in': fromTop >= 500 &amp;&amp; delayDone}">
					<img width="700" data-ng-src="{{::page.front.introduction.imgsrc}}" alt="Min favoritteditor - Sublime Text">
				</div>
				<div flex="40">
					<h2>Some stuff about me</h2>
					<p class="text-center">
						{{::page.front.introduction.text}}
					</p>
				</div>
			</div>
		</article>

		<article id="aboutMe" class="md-whiteframe-z2">
			<h1>Velkommen!</h1>
			<div layout="row">
				<div flex="50">
					<h2>Some stuff about me</h2>
					<p class="text-center">
						{{::page.front.introduction.text}}
					</p>
				</div>
				<div flex="50" class="offscreen-right" data-ng-class="{'slide-in': fromTop >= 1300 &amp;&amp; delayDone}">
					<img width="700" data-ng-src="{{::page.front.introduction.imgsrc}}" alt="Min favoritteditor - Sublime Text">
				</div>
			</div>
		</article>
	</div>
</div>
