<div id="front">
	<a href="#content" du-smooth-scroll offset="30">
		<div id="header"
			data-scroll-position="top"
			data-ng-class="{'slide-in':top>=0 &amp;&amp; delayDone}"
			class="jumbotron text-center">
			<img width="200" src="images/headshot.png" alt="This is a pretty image of me!">
			<h2> ESPEN HENRIKSEN </h2>
			<h3> Webutvikler | Front- &amp; Backend | SASS &amp; LESS | AngularJS | Java </h3>
			<i class="glyphicon glyphicon-chevron-down"></i>
		</div>
	</a>

	<div id="content">
		<article>
			<h1>Velkommen!</h1>
			<div class="col-xs-4">
				A pretty image
			</div>
			<div class="col-xs-8">
				<h2>Some stuff about me</h2>
				<p class="text-center">
					Stuff and stuff
				</p>
			</div>
		</article>
	</div>
</div>
